<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer-themes/ice.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">

<dom-module id="difficulty-selector-8-hso">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
        --paper-radio-button-label-color: white;
        --paper-radio-button: {
          color: white;
        };
      }

      .title {
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 30px;
        padding-top: 4%;
        padding-bottom: 20px;
        text-align: center;
        font-weight: 400;
        /*text-shadow: 1px 1px 2px #346da3; */
      }

      .subtext {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }

      .papercard {
        margin-top: 30px;
        border-radius: 20px;
      }

      .onboarding_gif {
        width:40%;
        margin-top: 5%;
      }

    </style>
    <div class="title">Feeling stressed? Get an intervention.</div>
    <div class="subtext"> Whenever you're stressed, click on the HSO icon and then begin a new intervention.</div>
    <img class="onboarding_gif" src="icons/HSO_icons/onboarding_intervention.gif">

  </template>
  <script src="difficulty-selector-8-hso.js"></script>
</dom-module>
