<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymer-themes/ice.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">

<dom-module id="difficulty-selector-hso">
  <template>
    <style>
       :host {
        display: block;
        width: 100%;
        height: 100%;
        --paper-radio-button-label-color: white;
        --paper-radio-button: {
          color: white;
        };
      }

      .title {
        font-family: Verdana, Geneva, Tahoma, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 30px;
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: center;
        font-weight: 400;
        /*text-shadow: 1px 1px 2px #346da3; */
      }

      .radiobuttons {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 20px;
        text-align: left;
        color: white;
      }

      .radiobutton {
        color: white;
      }

      .papercard {
        margin-top: 30px;
        border-radius: 30px;
      }
    </style>

    <div class="title">How often would you like to get reminded to take an stress management intervention?</div>

    <paper-card class="papercard">
      <paper-radio-group attr-for-selected="value" on-selected-changed="selectedNudgechanged" class="radiobuttons" id="difficultyradiogroup">
        <paper-radio-button name="button1" on-keydown="ignore_keydown" class="radiobutton" value=15><strong>15 mins</strong></paper-radio-button><br>
        <paper-radio-button name="button2" on-keydown="ignore_keydown" class="radiobutton" value=30><strong>30 mins</strong></paper-radio-button><br>
        <paper-radio-button name="button3" on-keydown="ignore_keydown" class="radiobutton" value=45><strong>45 mins</strong></paper-radio-button><br>
        <paper-radio-button name="button4" on-keydown="ignore_keydown" class="radiobutton" value=60><strong>1 hour</strong></paper-radio-button><br>
        <paper-radio-button name="button5" on-keydown="ignore_keydown" class="radiobutton" value=120><strong>2 hours</strong></paper-radio-button><br>
        <paper-radio-button name="button6" on-keydown="ignore_keydown" class="radiobutton" value=180><strong>3 hours</strong></paper-radio-button><br>
      </paper-radio-group>
    </paper-card>


    <div class="title">Where are you right now?</div>

    <paper-card class="papercard">
      <paper-radio-group on-selected-changed="selectedLocationchanged" class="radiobuttons" id="locationradiogroup">
        <paper-radio-button name="home" on-keydown="ignore_keydown" class="radiobutton" ><strong>HOME</strong></paper-radio-button><br>
        <paper-radio-button name="office" on-keydown="ignore_keydown" class="radiobutton" ><strong>OFFICE</strong></paper-radio-button><br>
        <paper-radio-button name="other" on-keydown="ignore_keydown" class="radiobutton" ><strong>OTHER</strong></paper-radio-button><br>
      </paper-radio-group>
    </paper-card>

  </template>
  <script src="difficulty-selector-hso.js"></script>
</dom-module>
